#root{
    display: flex;
    height: 100vh;
    align-items: center;
}

:root{
    --bg_primary: black;
    --bg_secondary: white;
    --piece_1: rgba(200, 50, 50);
    --piece_2: rgba(50, 100, 200);
}

.controls, .game_board, .score{
    height: calc(100vh - 200px);
}

.controls{
    flex-grow: 1;
    background: var(--bg_secondary);
}


.score{
    flex-grow: 1;
    background: var(--bg_secondary);
}

.game_board{
    width: 70vw;
    height: 60vw;
    background: var(--bg_primary);
    display: flex;
}

.game_board_line{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.empty_piece, .piece_1, .piece_2{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.empty_piece{
    background-color: var(--bg_secondary);
}

.piece_1{
    background-color: var(--piece_1);
}

.piece_2{
    background-color: var(--piece_2);
}

@media (max-width: 580px) {
    #root{
        justify-content: center;

    }
    .controls, .score{
        flex-grow: 0;
    }
}

@media (orientation: landscape){
    .game_board{
        width: 70vh;
        height: 60vh;
    }
}

.navbar, .footer{
    position: fixed;
    height: 100px;
    left: 0;
    right: 0;
}

.navbar{
    background-color: transparent;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.turn_1{
    color: var(--piece_1);
}

.turn_2{
    color: var(--piece_2);
}

.footer{
    bottom: 0px;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button_start{
    outline: 2px solid rgba(50, 200, 50);
    border: 2px solid white;
    background-color: rgba(50, 200, 50);
    border-radius: 8px;
    padding: 8px;
}

.button_clear{
    outline: 2px solid rgba(250, 50, 50);
    border: 2px solid white;
    background-color: rgba(250, 50, 50);
    border-radius: 8px;
    padding: 8px;
}